<h1 class="details">Добро пожаловать!</h1>
<h2 class="details">Здесь вы найдете подробную инструкцию по пользованию сайтом</h2>
<p class="details">Этот ресурс был создан для продвинутых пенсионеров/пенсионерок, которые хотели бы хранить важную для них информацию онлайн
  и делиться ей со своими внуками.
</p>
<p class="details">В своем личном кабинете вы найдете кнопку "Добавить изображение", при нажатии на которую вы сможете загрузить картинку, а наше приложение 
  распознает текст на ней и поможет воспроизвести его!
</p>
<style>
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  .details {
    padding: 0 40px;
    color: rgb(64, 110, 112);
  }
</style>
