<h1>Добро пожаловать!</h1>
<h2>Здесь вы найдете подробную инструкцию по пользованию сайтом</h2>
<p>Этот ресурс был создан для продвинутых пенсионеров/пенсионерок, которые хотели бы хранить важную для них информацию онлайн
  и делиться ей со своими внуками.
</p>
<p>В своем личном кабинете вы найдете кнопку "Добавить изображение", при нажатии на которую вы сможете загрузить картинку, а наше приложение 
  распознает текст на ней и поможет воспроизвести его!
</p>
