<h1>Добро пожаловать!</h1>
<p>Если у вас уже есть учетная запись, нажмите кнопку <a class="index_link" href="/signin">Войти</a> и введите данные.</p>
<p>Если учетной записи еще нет, вы можете зарегистрироваться, нажав кнопку <a class="index_link" href="/signup">Регистрация</a>.</p>
<style>
  .index_link {
    color: rgb(64, 110, 112);
    text-decoration: underline;
  }
</style>
