<h1>Добро пожаловать!</h1>
<p>Если у вас уже есть учетная запись, нажмите кнопку <a href="/signin">Войти</a> и введите данные.</p>
<p>Если учетной записи еще нет, вы можете зарегистрироваться, нажав кнопку <a href="/signup">Регистрация</a>.</p>
